<!--NAVIGATION-->
< [Variable MetaData](MetaData.ipynb) | [Index](Index.ipynb) | [Dataset Head](Head.ipynb) >

<a href="https://colab.research.google.com/github/simonscmap/pycmap/blob/master/docs/Columns.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

<a href="https://mybinder.org/v2/gh/simonscmap/pycmap/master?filepath=docs%2FColumns.ipynb"><img align="right" src="https://mybinder.org/badge_logo.svg" alt="Open in Colab" title="Open and Execute in Binder"></a>

## *columns(tableName)*

Returns the column names at a given data set.

> **Parameters:** 
>> **tableName: string**
>>  <br />The name of table associated with the dataset. A full list of table names can be found in the [catalog](Catalog.ipynb) or [Datasets](Datasets.ipynb).

>**Returns:** 
>>  Pandas dataframe.

### Example

In [ ]:
#!pip install pycmap -q     #uncomment to install pycmap, if necessary

import pycmap

api = pycmap.API(token='<YOUR_API_KEY>')
api.columns('tblAMT13_Chisholm')

<img src="figures/sql.png" alt="SQL" align="left" width="40"/> 
<br/>
### SQL Statement
Here is how to achieve the same results using a direct SQL statement. Please refere to [Query](Query.ipynb) for more information.

<code>EXEC uspColumns 'tableName'</code><br/><br/>
**Example:**<br/> 
Metadata associated with Argo salinity measurements:<br/><br/>
<code>EXEC uspColumns 'tblAMT13_Chisholm'</code><br/><br/>