<!--NAVIGATION-->
< [Cruise Spatio-Temporal Bounds](CruiseBounds.ipynb) | [Index](Index.ipynb) | [Cruise Variables](CruiseVariables.ipynb) >

<a href="https://colab.research.google.com/github/simonscmap/pycmap/blob/master/docs/CruiseTrajectory.ipynb"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" title="Open and Execute in Google Colaboratory"></a>

<a href="https://mybinder.org/v2/gh/simonscmap/pycmap/master?filepath=docs%2FCruiseTrajectory.ipynb"><img align="right" src="https://mybinder.org/badge_logo.svg" alt="Open in Colab" title="Open and Execute in Binder"></a>

## *cruise_trajectory(cruiseName)*

Returns a dataframe containing the trajectory of the specified cruise.

> **Parameters:** 
>> **cruiseName: string**
>>  <br />The official cruise name. If applicable, you may also use cruise "nickname" ('Diel', 'Gradients_1' ...). <br />A full list of cruise names can be retrieved using [cruise](Cruises.ipynb) method.


>**Returns:** 
>>  Pandas dataframe.

### Example

In [ ]:
#!pip install pycmap -q     #uncomment to install pycmap, if necessary

import pycmap

api = pycmap.API(token='<YOUR_API_KEY>')
api.cruise_trajectory('KM1513')

<img src="figures/sql.png" alt="SQL" align="left" width="40"/> 
<br/>
### SQL Statement
Here is how to achieve the same results using a direct SQL statement. Please refere to [Query](Query.ipynb) for more information.

<code>EXEC uspCruiseTrajectoryByName 'Cruise Official Name'</code>


**Example:**<br/>
<code>EXEC uspCruiseTrajectoryByName 'KM1513'</code>